<section class="bg-dark text-white">
  <footer class="d-flex container " style="padding:30px; align-items:center; justify-content:space-around">

    {{!-- first columb --}}
    <div>
<ul>
    <li>
<span>facebook</span><span><i class="bi bi-facebook " style="background-color:blue;color:white"></i></span>
    </li>
    <li>
<span>whatsapp</span><span><i class="bi bi-whatsapp" style="background-color:green;color:white"></i></span>
    </li>
    <li>
<span>Twitter</span><span><i class="bi bi-twitter" style="background-color:blue;color:white"></i></span>
    </li>
    <li>
<span>linkedin</span><span><i class="bi bi-linkedin" style="background-color:blue;color:white"></i></span>
    </li>
</ul>
 
    </div>

    {{!-- second columb --}}
    <div>
   <ul>
<li><a href="#" > About Us</a></li>
<li><a href="#" >Advertide</a></li>
<li><a href="#" >Contact Us</a></li>
<li><a href="#" > Privacy Policy</a></li>
   </ul> 
  
    </div>


    {{!-- third columb --}}
    <div>
 <span class="" style="color: rgb(24, 24, 221);">TEMPLE'S MEDIA</span>
 <div>
    <h3>2021-2022 All Rights Reserved</h3>
 </div>
    </div>
  </footer>
</section>