<section class="bg-dark text-white " style="margin-bottom:0%">
  <footer class="d-flex" style="padding:20px;font-size:21px; justify-content:center;align-items:center;">


    {{!-- second columb --}}
    {{!-- <div style="justify-content: space-around;align-items:center;display:flex"> --}}
   <ul style="display:flex; padding:0px ;width:50%;flex-wrap:wrap; justify-content:space-around;align-items:center;">
<li><a href="#" > About-us</a></li>
<li><a href="#" >Advertide</a></li>
<li><a href="#" >Contact-us</a></li>
<li><a href="#" > Privacy-Policy</a></li>
   </ul> 
  
    {{!-- </div> --}}

  </footer>
      <div style="text-align: center;">
 <span class="" style="color: rgb(24, 24, 221); font-size:30px;font-weight:700;font-family:'Times New Roman', Times, serif;">TEMPLE'S MEDIA</span>
 <div>
    <h5>You can Contact Us +2347011951761</h5>
    <h5>2021-2022 All Rights Reserved</h5>

 </div>
    </div>


</section>


{{!-- <div>
    <form>
        <input type="date" class="datavalue" >
        <button type="submit" >CLICK TO CHECK</button>
    </form>
</div> --}}