<section style="margin-bottom:30px; display:block;" class="d-sm-flex">

   
<aside class="bg-dark text-white p-2 mx-2" style="width:25%">
  <div style="text-align:center">
    <div>
      <h1 style="font-family:Georgia, 'Times New Roman', Times, serif;">DEPARTMENT NEWS</h1>
    </div>
  you are welcome
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, fugit consectetur esse perferendis voluptatibus, accusamus quasi est animi at consequatur distinctio delectus nulla, a totam tenetur aut fugiat porro dolorem!
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, fugit consectetur esse perferendis voluptatibus, accusamus quasi est animi at consequatur distinctio delectus nulla, a totam tenetur aut fugiat porro dolorem!
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, fugit consectetur esse perferendis voluptatibus, accusamus quasi est animi at consequatur distinctio delectus nulla, a totam tenetur aut fugiat porro dolorem!
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, fugit consectetur esse perferendis voluptatibus, accusamus quasi est animi at consequatur distinctio delectus nulla, a totam tenetur aut fugiat porro dolorem!
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, fugit consectetur esse perferendis voluptatibus, accusamus quasi est animi at consequatur distinctio delectus nulla, a totam tenetur aut fugiat porro dolorem!
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, fugit consectetur esse perferendis voluptatibus, accusamus quasi est animi at consequatur distinctio delectus nulla, a totam tenetur aut fugiat porro dolorem!
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, fugit consectetur esse perferendis voluptatibus, accusamus quasi est animi at consequatur distinctio delectus nulla, a totam tenetur aut fugiat porro dolorem!
</div>
</aside>


<section style="flex: 1;">
  <div style="padding:5px;border:10px solid #000;">
  <img src="../../backgroundimage.jpg" alt="content image" width="100%">
  </div>
  <div>
          {{>registerform}}
  </div>
 
</section>


<aside class="bg-dark text-white p-2 mx-2" style="width:25%">
  <div style="text-align:center">
    <div>
      <h1 style="font-family:Georgia, 'Times New Roman', Times, serif;">DEPARTMENT NEWS</h1>
    </div>
  you are welcome
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, fugit consectetur esse perferendis voluptatibus, accusamus quasi est animi at consequatur distinctio delectus nulla, a totam tenetur aut fugiat porro dolorem!
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, fugit consectetur esse perferendis voluptatibus, accusamus quasi est animi at consequatur distinctio delectus nulla, a totam tenetur aut fugiat porro dolorem!
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, fugit consectetur esse perferendis voluptatibus, accusamus quasi est animi at consequatur distinctio delectus nulla, a totam tenetur aut fugiat porro dolorem!
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, fugit consectetur esse perferendis voluptatibus, accusamus quasi est animi at consequatur distinctio delectus nulla, a totam tenetur aut fugiat porro dolorem!
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, fugit consectetur esse perferendis voluptatibus, accusamus quasi est animi at consequatur distinctio delectus nulla, a totam tenetur aut fugiat porro dolorem!
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, fugit consectetur esse perferendis voluptatibus, accusamus quasi est animi at consequatur distinctio delectus nulla, a totam tenetur aut fugiat porro dolorem!
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, fugit consectetur esse perferendis voluptatibus, accusamus quasi est animi at consequatur distinctio delectus nulla, a totam tenetur aut fugiat porro dolorem!
</div>
</aside>








  {{!-- <div class="imagebackground"></div>  --}}
</section>