            <tr>
                <td>{{this.fullname}}</td>
                <td>{{this.matriculation}}</td>
                <td></td>
                <td></td>
                <td href="/delete">delete</td>
            </tr>

