            <tr>
                <td>{{fullname}}</td>
                <td>{{matriculation}}</td>
                <td>{{level}}</td>
                <td></td>
                <td href="/delete">delete</td>
            </tr>

