
    <!-- show case -->
    
    <section class=" mt-1 px-0">
      {{#each photo}}


      {{/each}}
        <div class="w-100 h-100 family" style="position: absolute ;top:40%;text-align:center">
        {{#each editlist}}
        <div style="font-size:40px ;font-weight:700;" class="text-light homemessage ">{{this.homepagemessage}}</div>
        {{/each}}
       
      
</div>
</section>


{{>mainbody}}



   








  
