
    <!-- show case -->
    <section class=" mt-1 px-0 px-sm-1">
        <img class="image" src="./download.jfif" width="100%" height="400px" alt="showcasepage">
        <div class="w-100 h-100 family" style="position: absolute ;top:30%;text-align:center">
        {{#each editlist}}
        <div style="font-size:40px ;font-weight:700;" class="text-light">{{this.homepagemessage}}</div>
        {{/each}}
        <div style="font-size:25px" class="family d-none d-sm-block  text-white">there are many variation of passages of learen ipsum available, but the majority have sufered<span>alteration in some form</span></div>
        <div class="mt-5">
        <a href="/assignment" ><button class="upper " type="submit">Submit of Assignment</button></a>
        <a href="#" ><button class="upper" type="submit"> READ MORE </button></a>
    </div>
</div>
</section>

<section>
    {{#each list}}
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{this.level}}</h5>
        <p class="card-text">{{this.message}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
{{/each}}
</section>