
    <!-- show case -->
    
    <section class=" mt-1 px-0">
      {{#each photo}}


      {{/each}}
        <div class="w-100 h-100 family" style="position: absolute ;top:40%;text-align:center">
        {{#each editlist}}
        <div style="font-size:40px ;font-weight:700;" class="text-light ">{{this.homepagemessage}}</div>
        {{/each}}
       
        {{!-- <div class="mt-5">
        <a href="/assignment" ><button class="upper " type="submit">Submit of Assignment</button></a>
        <a href="#" ><button class="upper" type="submit"> READ MORE </button></a>
    </div> --}}
</div>
</section>

<section>
  <div class="imagebackground"></div>

  <section>
    <div>
      {{>registerform}}
    </div>
  </section>
</section>


{{!-- {{> logoutassignment}} --}}

   

{{!-- <section class="container">
  {{#each photo}}
  <img src="../{{this.name}}" alt="ok you are welcome">
{{/each}}
</section> --}}



{{!-- <embed download href="#" src="../add.pdf" width="500" height="375"> --}}
{{!-- <iframe src="../add.pdf" width="500" height="375">you are welcome </iframe> --}}







  
